<tabset class='mytab' type='tabs'>
    <!-- je peux remplacer tabs par pills -->
    <tab heading="home">
      <app-modaltarik></app-modaltarik>
      <app-home></app-home>
    </tab>

    <tab removable=true heading="offres du moment">
      offres du moment
    </tab>
    <tab heading="une annonce au hasard">
      une annonce au hasard
    </tab>
    <tab heading="politique covid">
      <app-alert1></app-alert1>
    </tab>
    <tab heading='les conseils des pro'>
      <app-accordeon1></app-accordeon1>
    </tab>
    <tab heading='à propos de ce site'>
      about
    </tab>

  <!-- <tab disabled=true heading="Long Justified">Long Labeled Justified content</tab> -->
    <tab heading="connexion admin">
      <app-drop-down1></app-drop-down1>
    </tab>
  </tabset>