<tabset class='mytab' type='tabs'>
    <!-- je peux remplacer tabs par pills -->
    <tab heading="home">
      <app-home></app-home>
    </tab>

    <tab removable=true heading="offres du moment">
    <h5>offres du moment</h5>
    </tab>
    <tab heading="une annonce au hasard">
    <h5>une annonce au hasard</h5>
    </tab>
    <tab heading="politique covid">
      <app-alert1></app-alert1>
    </tab>
    <tab heading='les conseils des pro'>
      <app-accordeon1></app-accordeon1>
    </tab>
    <tab heading='à propos de ce site'>
      <h5>about</h5>
    </tab>

  <!-- <tab disabled=true heading="Long Justified">Long Labeled Justified content</tab> -->
    <tab heading="connexion admin">
      <app-drop-down1></app-drop-down1>
    </tab>
  </tabset>