<div class="mt-4">

    <button type="button" class="btn button cadre pl-4 pr-4 pt-1 pb-1" (click)="openModal(template)">infos</button>
    
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left col-11 text-uppercase">Bienvenue sur la page d'accueil</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-justified p-5">
            Vous pouvez rechercher le véhicule que vous souhaitez grâce aux filtres de recherche.
        </div>
    </ng-template>
</div>