
.table > thead > tr > th{
    padding:4px 0 0 0;
    text-align: center;
    border:none;
}

.table{
    text-align: center;
}

a:not([href]):not([tabindex]){
    color:white;
}

a:not([href]):not([tabindex]):hover{
    color:#646480;
}

.link a{
    color:#484860;
}