<app-admin-header></app-admin-header>

<div class="row justify-content-center">
    <div class="col d-flex justify-content-center m-5">
        <a routerLink='/clientView' class='col-2 btn button themeHeader pt-2 p-1'><i class="far fa-arrow-alt-circle-left"></i>&emsp;retour à la vue client</a>
        <a (click)='showGarageOwners()' class='col-2 btn button themeHeader ml-3 pt-2 p-1 text-white'><i class="fas fa-warehouse"></i>&emsp;tous les garagistes</a>
        <a (click)='showAdverts()' class='col-2 btn button themeHeader ml-3 pt-2 p-1 text-white'><i class="fas fa-th-list"></i>&emsp;toutes les annonces</a>
    </div>
    <div *ngIf='tableau; else otherTableau' class="col-11">

        <table class='table table-hover rounded table-bordered'>
            <thead class='thead text-uppercase'>
                <tr>
                    <th>id</th>
                    <th>pseudo</th>
                    <th>mdp</th>
                    <th>nom</th>
                    <th>telephone</th>
                    <th>email</th>
                    <th>n° de siret</th>
                    <th>options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of garageOwner">
                    <td>{{item.id}}</td>
                    <td>{{item.pseudo}}</td>
                    <td>{{item.password}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.tel}}</td>
                    <td>{{item.mail}}</td>
                    <td>{{item.siretNumber}}</td>
                    <td class='link'><a (click)='deleteThisGarageOwner(item.id)'>delete this element</a></td>
                </tr>
            </tbody>
            <caption class='pl-3 pt-2 p-1 text-uppercase themeHeader'>garagistes inscrits dans la base : {{ garageOwnerCount }}</caption>
        </table>
    </div>    
    <br>
    <ng-template #otherTableau>

        <div class="col-11">
            
            <table class='table table-hover rounded'>
                <thead class='thead text-uppercase'>
                    <tr>
                        <th>référence</th>
                        <th>année de mise en circulation</th>
                        <th>marque</th>
                        <th>modèle</th>
                        <th>description de l'annonce</th>
                        <th>prix</th>
                        <th>kilométrage</th>
                        <th>titre</th>
                        <th>date de publication</th>
                        <th>idGarage</th>
                        <th>idGarageOwner</th>
                        <th>options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of advert">
                        <!-- <td>{{item.id}}</td> -->
                        <td class='link'>{{item.ref}}</td>
                        <td>{{item.year}}</td>
                        <td>{{item.brand}}</td>
                        <td>{{item.model}}</td>
                        <td width='30%'>{{item.description}}</td>
                        <td>{{item.price}} €</td>
                        <td>{{item.mileage}} km</td>
                        <td>{{item.title}}</td>
                        <td>{{item.publicationDate}}</td>
                        <td>{{item.idGarage}}</td>
                        <td>{{item.idGarageOwner}}</td>
                        <td class='link'><a (click)='deleteThisAd(item.id)'>delete this element</a></td>
                    </tr>
                </tbody>
                <caption class='pl-3 pt-2 p-1 text-uppercase themeHeader'>nombres total d'annonces dans la base : {{ advertCount }}</caption>
            </table>
        </div>
    </ng-template>
</div>

