
<div class="d-flex justify-content-center mytab test">
    <form class='col-8 form rounded' #garageOwnerAddForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="headings">    
            <h5 class='titre text-center'>inscription</h5>
        </div>
        <div class="d-flex justify-content-center">

            <div class='col-6'>
                <div class="form-group mt-4">
                    <label for="pseudo"><i class="fas fa-user-circle"></i>&emsp;pseudo</label>
                    <input type="text" minlength="4" maxlength="20" class="form-control" required id="pseudo" name='pseudo' placeholder="pseudo" [(ngModel)]='garageOwner.pseudo' #pseudo ='ngModel'>
                    <alert type='danger' [hidden]='pseudo.valid'>saisis un pseudo valide</alert>
                </div>
                <div class="form-group mt-4">
                    <label for="password"><i class="fas fa-key"></i>&emsp;mot de passe</label>
                    <input type="password" required class="form-control" name='password' id="password" placeholder="mot de passe" [(ngModel)]='garageOwner.password' #password ='ngModel'>
                </div>
                <div class="form-group mt-4">
                    <label for="name"><i class="fas fa-user-tag"></i>&emsp;name</label>
                    <input type="text" class="form-control" id="name" name='name' placeholder="nom" [(ngModel)]='garageOwner.name' #name ='ngModel'>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mt-4">
                    <label for="tel"><i class="fas fa-phone-square"></i>&emsp;phone number</label>
                    <input type="text" class="form-control" id="tel" name='tel' placeholder="telephone" [(ngModel)]='garageOwner.tel' #tel ='ngModel'>
                </div>
                <div class="form-group mt-4">
                    <label for="mail"><i class="fas fa-at"></i>&emsp;mail</label>
                    <input type="mail" class="form-control" id="mail" name='mail' placeholder="email"[(ngModel)]='garageOwner.mail' #mail ='ngModel'>
                </div>
                <div class="form-group mt-4">
                    <label for="siretNumber"><i class="fas fa-file-signature"></i>&emsp;n° de siret</label>
                    <input type="text" class="form-control" minlength="14" maxlength="14" id="siretNumber" name='siretNumber' placeholder="n° de siret" [(ngModel)]='garageOwner.siretNumber' #siretNumber ='ngModel'>
                </div>
            </div>
        </div>
        <div class="d-flex col mt-2 mb-4">
            <input type='submit' class="col-2 btn moreInfo rechDetail mr-4" value="s'inscrire">   
            <button routerLink='/garageLogin' class="col-2 btn moreInfo moreInfo rechDetail">retour</button>   
        </div>
    </form>
</div>
