<!-- 
<div class="bg-dark">
    <form class='myForm text-light' #advertForm ="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-3">
                <div class="form-group">
                    <label for="id">id</label>
                    <input type="number" class='form-control' id='id' name='id' placeholder='id' required [(ngModel)]='advert.id' #id='ngModel'/>   
                </div>
                <div [hidden]='id.valid' class="alert alert-info">
                    saisis un id valide
                </div>
                <div class="form-group">
                    <label for="ref">référence</label>
                    <input type="text" class='form-control' id='ref' name='ref' placeholder='référence' required [(ngModel)]='advert.ref' #ref ='ngModel'/>
                </div>
                <div [hidden]='ref.valid' class="alert alert-info">
                    saisis une référence valide
                </div>
                <div class="form-group">
                    <label for="year">année</label>
                    <input type="date" class='form-control' id='year' name='year' placeholder="dd/MM/yyyy" [(ngModel)]='advert.year' #year ='ngModel'/>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-3">
                <div class="form-group">
                    <label for="price">prix</label>
                    <input type="number" class='form-control' id='prix' name='prix' [(ngModel)]='advert.price' #price ='ngModel'/>
                </div>
                <div class="form-group">
                    <label for="description">description</label>
                    <input type="text" class='form-control' id='description' name='description' [(ngModel)]='advert.description' #description ='ngModel'/>
                </div>
                <div class="form-group">
                    <label for="mileage">kilométrage</label>
                    <input type="number" class='form-control' id='mileage' name='mileage' [(ngModel)]='advert.mileage' #mileage ='ngModel'/>
                </div>
                <div class="form-group">
                    <label for="title">titre</label>
                    <input type="text" class='form-control' id='title' name='title' [(ngModel)]='advert.title' #title ='ngModel'/>
                </div>
                <div class="form-group">
                    <label for="publicationDate">date de publication</label>
                    <input type="date" class='form-control' id='publicationDate' placeholder='dd/MM/yyyy' name='publicationDate' [(ngModel)]='advert.publicationDate' #publicationDate ='ngModel'/>
                </div>  
                <div class="form-group">
                    <input class="btn text-uppercase p-1" type="submit">
                </div>
            </div>
        </div>
    </form>
</div> -->
