/* .card-body{
    font-family:'Mitr';
} */

.card-header, h5{
    text-transform: uppercase;
}


.card-header, .card-text{
    /* text-transform: uppercase; */
    letter-spacing: 0.1rem;
}

.encadre{
    padding:0.5rem;
    border:1px solid #d4d4df;
    background:#f4f4fd;
    border-radius: 4px;
    box-shadow:0px 0px 2px inset white;
    color:#848496;
}
