<form class='form p-4 rounded'>
  
  <div class='row'>

    <div class="col">
      <label for="mailAdmin"><i class="fas fa-at"></i>&emsp;adresse e-mail</label>
      <input type="email" class="form-control" id="mailAdmin" aria-describedby="emailHelp" placeholder="saisissez votre e-mail">
      <small id="emailHelp" class="form-text text-muted">saisissez-vos données en toute sécurité ici</small>
    </div>
    <div class="col">
      <label for="mdpAdmin"><i class="fas fa-key"></i>&emsp;mot de passe</label>
      <input type="password" class="form-control" id="mdpAdmin" placeholder="saisissez votre mot de passe">
    </div>
  </div>
  <div class="row mt-5">
    <!-- <div class="col-6"></div> -->
    <div class="col-3">
      <label class="form-check" for="exampleCheck1"><i class="far fa-bookmark"></i>&emsp;mémoriser mon mot de passe</label>
    </div>
    <div class="col-1">
      <input type="checkbox" class="form-check" id="exampleCheck1">
    </div>
    <div class="col-2">
      <button routerLink='/admin' type="submit" class="btn moreInfo rechDetail col">se connecter</button>   
    </div>
  </div>    
</form>
