<div class="mt-4">
    <alert type="md-local" [dismissible]="dismissible">
      <p>Pendant les vacances estivales et dans un contexte où certains peuvent baisser la garde dans les lieux plus familiers ou propices à la convivialité, il est impératif de rester vigilant face à l’épidémie de la COVID-19 : la période estivale ne doit pas être synonyme d’un relâchement dans le respect des gestes barrières. C’est de l’engagement et la responsabilité de chacun d’entre nous que dépend la santé de tous.</p>
      <br>
      <p class="mb-0">Depuis le 20 juillet, le port du masque est obligatoire dans les lieux clos recevant du public ainsi que dans les lieux estimés pertinents par les préfets de chaque département, sauf les locaux d’habitation, en fonction de la situation épidémique locale.</p>
    </alert>
  </div>