/* You can add global styles to this file, and also import other style files */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Sora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Concert+One&family=Recursive:wght@500&display=swap');



.button, nav, .searchBar{
    color:whitesmoke;
    text-transform:uppercase;
}

.mytab{
    text-transform: uppercase;
}

.searchBar{
    /* padding:2rem; */
    border-radius:4px;
    border:1px solid #8995d6;
    /* background-image: url('../src/assets/texture1.jpg'); */
}

input{
    letter-spacing: 0.1rem;
}


.navbar-brand{
    letter-spacing: 0.4rem;
    font-size:1.3rem;
}

.button{
    font-size:1.2rem;
}

.btn{
    font-weight:bolder;
}

.btn:focus{
    color:white;
    box-shadow:none;
    border:none;
}
.button:hover{
    background:#333;
    color:whitesmoke; 
}

.submit{
    background:#6271c8!important;
    border-radius:2px;
}

.submit:hover{
    border:1px solid #8995d6;
    background:#3949a3!important;
    color:white;
}


.cadre, .well, nav{
    background:#20295b;
}


.well{
    border:none;
    border-radius:0;
}

.head{
    color:#8995d6;
    letter-spacing: 0.1rem;
}

.indigoLight{
    background:#6271c8;
    color:whitesmoke;
}

.indigoLight:focus{
    background:white;
    opacity:0.8;
}

.form-control:focus{
    box-shadow:0px 0px 0px;
    border:1px solid #6271c8;
}

.jumbo, nav, .well{
    opacity:0.9;
}



.menuTab{
    border:1px solid silver;
    padding:2rem;
    border-radius:4px;
}

.nice{
    height:112px;
    width:112px;
    background-image: url(../src/assets/logo_lodevi.png);
    opacity:0.7;
    display:flex;
    background-size: cover;
    border:1px solid #3949a3;
    /* background-blend-mode: lighten; */
    /* border-top-left-radius:12%;
    border-top-right-radius:36%;
    border-bottom-right-radius:12%;
    border-bottom-left-radius:36%; */

    border-radius: 50% 20% / 10% 40%;
}

img{
    width:288px;
    height:200px;
}


caption{
    caption-side: top;
    background:#6271c8;
    letter-spacing:0.1rem;
    color:whitesmoke;
}


.navbar, nav{
    display:flex;
}

nav{
    font-size:0.8rem;
    font-family:'Mitr';
}

.pasnice{        
    display:flex;
    align-items: center;
    margin-left:-8%;
}



input::placeholder{
    font-style: italic;
    color:#6271c8!important;
}

.globalsearch{
    padding:0 1%;
}

.rechDetail{
    letter-spacing: 0.1rem;
    /* font-size:1.4rem;    */
}

.rechDetail:hover, .rechDetail:hover .bigcaret{
    color:#6271c8;
    background:none;
    border-radius:2px;
    border:1px solid #6271c8;
    transition:0.6s;
}

.moreInfo{
    background:#6271c8;
    color:whitesmoke;
}

.rechDetail:hover .bigcaret{
    border:none;
}

.bigcaret{
    /* font-size:2rem; */
    color:whitesmoke;
}

#detail{
    display:none;
}

.bigcaret{
    transform: rotate(180deg);
}

.custom-slider{
    font-family: 'Catamaran';
}

.custom-slider .ng5-slider .ng5-slider-pointer {
    background-color: #6271c8;
    box-shadow: 1px 1px 1px inset #8995d6;
    border:none;
    border-radius:0;
    width:8px;
    height:12px;
    top:-4px;
}


.custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
}

.custom-slider .ng5-slider .ng5-slider-selection{
    background: #6271c8 !important;
}

.ng5-slider .ng5-slider-bubble.ng5-slider-limit{
    color:orange!important;
}

.ng5-slider .ng5-slider-bubble{
    color:limegreen!important;
}


.nav-item a span{
    /* text-decoration: underline; */
    color:#6271c8;
    letter-spacing: 0.1rem;
}

.mytab{
    color:#6271c8;
}





.nav-item a:hover, .card-header{
    /* text-decoration: underline; */
    background:lavender!important;
}

.texture{
    background-image: url('../src/assets/texture1.jpg');
    /* background-size: cover; */
    height:18px;
    border-bottom:1px solid #334;
    border-left:1px solid #334;
    border-right:1px solid #334;
}


.card{
    border:1px solid silver;
}


h5, .table, .moreInfo, .card-footer{
    font-family:'Baloo Tamma 2';
}

h5{
    font-size:1.6rem;
    letter-spacing: 0.1rem;
    color:#334191;
}

