/* bootstrap */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Sora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Concert+One&family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

/* ********************* */
/* ****   global    **** */
/* ********************* */

.mytab, .rechDetail, .button, nav, .searchBar{
    text-transform: uppercase;
}

.themeHeader, .entete, .headings, caption{
    background-color: #484860;
}

.table, .moreInfo, .card-footer, .card-header, .card-text, .form, .themeHeader{
    font-family:'Baloo Tamma 2';
}

/* ********************* */
/* ****   titres    **** */
/* ********************* */

h5{
    font-size:1.4rem;
    letter-spacing: 0.1rem;
    color:#848496;
    font-family:
    /* 'C.O.D.E.R.', */
    'Saira Stencil One',
    'Baloo Tamma 2'
    ;
    padding:0.5rem 0 0.5rem;
}

/* ********************* */
/* **** searchBar   **** */
/* ********************* */

.cadre, .well, nav{
    background:#242436;
}

.cadre{
    font-size:1.2rem;
}

nav{
    display:flex;
}

.well{
    border:none;
    border-radius:0;
}

.navbar-brand{
    letter-spacing: 0.4rem;
    font-size:1.2rem;
}


/* ********************* */
/* * detail searchBar  * */
/* ********************* */

.searchBar{
    border-radius:4px;
    border:1px solid #323244;
    background: #121220;
    opacity:0.8;
}

nav, .searchBar{
    color:whitesmoke;
}

.fa-caret-up{
    transform: rotate(90deg);
}


.custom-slider{
    font-family: 'Catamaran';
}

.custom-slider .ng5-slider .ng5-slider-pointer {
    /* background-color: #6271c8; */
    background-color: #646472;
    box-shadow: 1px 1px 1px inset #d4d4da;
    border:none;
    border-radius:0;
    width:8px;
    height:12px;
    top:-4px;
}

.custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
}

.custom-slider .ng5-slider .ng5-slider-selection{
    background: limegreen !important;
}

.ng5-slider .ng5-slider-bubble.ng5-slider-limit{
    color:tomato!important;
}

.ng5-slider .ng5-slider-bubble{
    color:limegreen!important;
}


/* ********************* */
/* ****   forms     **** */
/* ********************* */

.form{
    border:1px solid #d4d4df;
    padding:0;
}

input{
    letter-spacing: 0.1rem;
}

input::placeholder{
    font-style: italic;
    color:#a4a4ad!important;
}

input:focus{
    border:#484860;
    box-shadow: 0px 0px 1px 1px #848496;
}

.btn{
    font-weight:bolder;
    color:#a4a4ad;
}

.btn:focus{
    color:white;
    box-shadow:none;
    border:none;
}

.form-control:focus{
    box-shadow:0px 0px 0px;
    border:1px solid greenyellow;
}

/* ********************* */
/* ****  navtabs    **** */
/* ********************* */

.head{
    color:#848496;
    letter-spacing: 0.1rem;
}

.jumbo, nav, .well{
    opacity:0.9;
}

.menuTab{
    border:1px solid #d4d4df;
    padding:2rem;
    border-radius:4px;
}

.nav-item a span{
    /* text-decoration: underline; */
    color:#848496;
    letter-spacing: 0.1rem;
}

.mytab{
    color:#848496;
}

.mytab h5{
    margin-top:1rem;
}


.nav-item a:hover, .card-header{
    /* text-decoration: underline; */
    background:#f4f4fd!important;
}

/* ********************* */
/* *** home adverts  *** */
/* ********************* */

img{
    width:288px;
    height:200px;
}

caption{
    caption-side: top;
    letter-spacing:0.1rem;
    color:whitesmoke;
}

nav{
    font-size:0.8rem;
    font-family:'Mitr';
}


/* ********************* */
/* ***     table     *** */
/* ********************* */

.table tr:hover{
    background:#f4f4fd;
    color:#484860;
}

.table tr:hover .link{
    color:#484860;
}

.link{
    color:#545472;
    cursor:pointer;
}

.link:hover{
    text-decoration: underline;
}

/* ********************* */
/* *** buttons style *** */
/* ********************* */

.rechDetail{
    letter-spacing: 0.1rem;
}

.rechDetail:hover, .rechDetail:hover .bigcaret{
    color:#646472;
    background:none;
    border-radius:2px;
    border:1px solid #a4a4ad;
    transition:0.6s;
}

.moreInfo{
    background:#484860;
    padding-bottom:0;
}
.moreInfo a{
    color:whitesmoke;
}
.moreInfo:hover a{
    color:#646472;
}

.rechDetail:hover .bigcaret{
    border:none;
}


/* ********************* */
/* *** cards details *** */
/* ********************* */

#detail{
    display:none;
}

.spec{
    color:limegreen;
    font-weight: bolder;
}

.card{
    border:1px solid #d4d4df;
}

.entete{
    box-shadow: 0px 4px 1px #848496;
    padding:1rem;
    margin:0 auto;
}

.entete i{
    font-size:0.9rem;
    line-height: 1rem;
}

.test{
    margin:8% auto;
}

.headings{
    padding:0.7rem;;
}

.titre{
    color:whitesmoke;
}

.connect{
    color:#646472;
}

/* ********************* */
/* ***     alerts    *** */
/* ********************* */

.alert{
    margin:0.5rem 0;
    padding:0.5rem ;
}
